@using EduPortal.Domain.Entities
@model Subscriber

<h1 class="display-4">Create a Subscription</h1>
<hr />

<div class="row">
        <div class="container p-5 my-5 border">

            <div class="row">s

                @* TO-DO *@

                <a asp-action="Individual" class="btn btn-secondary btn-sm"><i class="fa fa-save mr-2"></i> Bireysel Abone Kayıt</a>
                <a asp-action="Corporate" class="btn btn-primary btn-sm"><i class="fa fa-save mr-2"></i> Kurumsal Abone Kayıt</a>


@* 
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="subscriptionType" id="individualSubscription" autocomplete="off" checked> Bireysel Abonelik
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="subscriptionType" id="corporateSubscription" autocomplete="off">  Kurumsal Abonelik
                    </label>
                </div> *@

                <div id="subscriptionForm">
                    <!-- Seçilen abonelik türüne göre HTML dosyası burada görünecek -->
                </div>

            </div>
        </div>
</div>

<script>
    // JavaScript kullanarak abonelik türüne göre HTML dosyasını yükle
    var individualSubscription = document.getElementById('individualSubscription');
    var corporateSubscription = document.getElementById('corporateSubscription');
    var subscriptionForm = document.getElementById('subscriptionForm');

    individualSubscription.addEventListener('change', function () {
        loadPartialView('Individual');
    });

    corporateSubscription.addEventListener('change', function () {
        loadPartialView('Corporate');
    });

    function loadPartialView(partialViewName) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', partialViewName + '.cshtml'); // .cshtml uzantısını ekleyin
        xhr.onload = function () {
            if (xhr.status === 200) { //ajax isteiği ile yönlendirmek yapmak
                subscriptionForm.innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }
</script>
